body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Default font for the entire page */
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('img/Azure Empyrea.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(0);
    z-index: -1;
}

.blurred-section {
    position: absolute;
    top: 0;
    right: 10%; 
    height: 100%;
    width: 25%;
    background: rgba(182, 186, 255, 0.5); 
    backdrop-filter: blur(10px); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.blurred-section h1 {
    margin: 0;
    font-size: 2em;
    color: #333;
}

.blurred-section .link-wrapper {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.blurred-section a {
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
    
    
    margin-left: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.blurred-section a:hover {
    text-decoration: underline;
    transform: scale(1.05);
}

.blurred-section .link-wrapper img {
    max-width: 40px;
    height: auto;
}